<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Adding Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Georama&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">


<!-- Adding Stylesheet -->
    <link rel="stylesheet" href="/css/homeStyles.css">

<!-- Importing Bootstrap -->
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <title>Piyush Jaiswal</title>
</head>
<body>
    <header>
        <h1 class="websiteHeadingPart1"> Piyush </h1>
        <h1 class="websiteHeadingPart2"> Jaiswal </h1>

        <div class="navigationBar">
         <a href="/" class="navLink"> Home </a>
         <a href="/blog" class="navLink"> Blog </a>
         <a href="/bookNotes" class="navLink"> Book Notes </a>
         <a href="/newsletter" class="navLink"> Newsletter </a>
         <a href="https://open.spotify.com/show/3X2LMzK07AOwG4N8zXh1A1?si=KXvNa11sR-eC-vG33104fg&dl_branch=1" class="navLink" target="_blank"> Podcast </a>
         <a href="#about" class="navLink"> About Me </a>
         <a href="#foot" class="navLink"> Contact </a>

        </div>

        <hr class="divider">

    </header>

    <div class="landingSection">

        <div class="mainHeading">
            <h2 class="color line">Hey everyone</h2>
            <h1 class="color line">What's up?</h1>
            <br>
            <p class="introduction">Hi, I am Piyush. I am a content creator, 2nd year engineering student and a young hustler.</p>
            <p class="theme">On this site we talk about productivity, self development, various career fields and making most out of college.</p>
        </div>

        
            <img src="images/landingIllustration.png" class="landingillustration">
        

    </div>
    
    <div class="blogSection" id="blog">
        <h1 class="blogTitle"> Blog </h1>
        <img src="images/blog.png" class="blogImage">
        <a href="/blog"><button class="btn-primary btn-lg customBlog">Read other articles >></button></a>
        <div class="blogIntro">
            <p>I write articles on productivity, careers and stuff I find interesting. I hope you find it valuable.
                <br>
                Here are the recent articles:
            </p>
            <div class="blogEpisode1">
                <img src="images/icon1.png" class="blogepisodeIcon">
                <a href="https://www.google.com" class="articleLink"><h6 class="articleTitle">College life & startups</h6></a>
            </div>
            <div class="blogEpisode2">
                <img src="images/icon1.png" class="blogepisodeIcon">
                <a href="https://www.google.com" class="articleLink"><h6 class="articleTitle">College life & startups</h6></a>
            </div>
            <div class="blogEpisode3">
                <img src="images/icon1.png" class="blogepisodeIcon">
                <a href="https://www.google.com" class="articleLink"><h6 class="articleTitle">College life & startups</h6></a>
            </div>
        </div>
        
    </div>

    <div class="bookSection" id="book">
        <h1 class="bookTitle"> Book Notes </h1>
        <img src="images/book.png" class="bookImage">
        <div class="blogIntro">
            <p>I read a lot of books and take notes from them. I hope this will be valuable for you.
                <br>
                Here are some of my notes:
            </p>
            <div class="bookNotes1">
                <a href="https://www.google.com" target="_blank" class="articleLink"><img src="images/book3.jpg" class="bookCover"></a>
            </div>
            <div class="bookNotes2">   
                <a href="https://www.google.com" target="_blank" class="articleLink"><img src="images/book4.jpg" class="bookCover"></a>
            </div>
            <div class="bookNotes3">
                <a href="https://www.google.com" target="_blank" class="articleLink"><img src="images/book5.jpg" class="bookCover"></a>
            </div>
            <div class="bookNotes4">
                <a href="https://www.google.com" target="_blank" class="articleLink"><img src="images/book1.jpg" class="bookCover"></a>
            </div>
            <div class="bookNotes5">   
                <a href="https://www.google.com" target="_blank" class="articleLink"><img src="images/book2.jpg" class="bookCover"></a>
            </div>
        </div>
        <a href="/bookNotes"><button class="btn-primary btn-lg customBookNotes">Read other notes >></button></a>
        
    </div>

    <div class="podcastSection" id="podcast">
        <h1 class="podcastTitle"> Podcast </h1>
        <img src="images/podcast.png" class="podcastImage">
        <div class="podcastIntro">
            <p>This podcast completely focuses on college students and college life. We will cover every aspect from career in various fields, interviews, to health, fitness, relationship. Everything related to college life.
                <br>
                Here is the recent episode:
            </p>
            <div class="podcastEpisode">
             <img src="images/3.png" class="podcastepisodeImage">
             <h3 class="episodeTitle">College life & Startups</h3>
             <a href="https://open.spotify.com/episode/7CLzzfJNXhxOdSsw0tifxr?si=uIAr3ieNTn25u72rWcyMcw&dl_branch=1" class="episodeLink" target="_blank"><p class="episodeClick">Click to listen</p></a>
            </div>
        </div>
        <a href="https://open.spotify.com/show/3X2LMzK07AOwG4N8zXh1A1?si=KXvNa11sR-eC-vG33104fg&dl_branch=1" target="_blank"><button class="btn-primary btn-lg customPodcast">Listen to other episodes >></button></a>

    </div>



<!-- Newsletter Section Code -->
    <div class="newsletterSection" id="newsletter">
        <h1 class="newsletterTitle"> Newsletter </h1>

        <div class="newsletterInfo">
            <p>
            <b><h2 class="title">Evolve</h2></b>
            <h5>My weekly newsletter - I share all of the things I have learnt throughout the week. It includes learnings from the podcasts I listen to, skills I learn, books I read, quotes I came across, my experiences and much more. Sign up below if you want to join our growing community,
              <br>
              <h6 class="tagLine">Where we learn together and grow together.
                  <br>
                  <br>
                  <a href="/newsletter" class="customNews">To read previous Newsletters, click here.</a>
              </h6>
            </h5></p>
          </div>

        <div class="newsletterSignUp">
            <main class="form-signin">
          <form action="/" method="POST">
            <!-- <img class="mb-4" src="public/images/newsletter.png" alt="" width="75" height="72"> -->
            <h1 class="h3 mb-3 fw-normal customText">Subscribe Here</h1>
        
            <div class="form-floating">
                <input type="text" name="name" class="form-control top" placeholder="Name" required>
                <label for="floatingInput">Name</label>
              </div>
        
            <div class="form-floating">
              <input type="email" name="email" class="form-control bottom" placeholder="name@example.com" required>
              <label for="floatingInput">Email address</label>
            </div>
            <br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Subscribe</button>
          </form>
          <p style="color: rgb(233, 227, 227);">Note: After clicking on button, you will receive confirmation. If not, try again.</p>
        </main>  
        </div>

    </div>





    <div class="aboutSection" id="about">
        <h1 class="aboutTitle"> About me </h1>

        <div class="aboutmeInfo">
         <p class="infoText">
          Hi, I am Piyush Jaiswal. I am 2nd year electrical and electronics engineering student. I love developing things whether it may be websites, content or startups.
          <br>
          You can reach out to me at piyushjaiswalofficial001@gmail.com

         </p>
        </div>

        <img src="images/blob.png" class="aboutBackground">


    </div>

    <footer class="footer" id="foot">
        <div class="socialLinks">
            <h3 class="footerText">Piyush Jaiswal &#169; 2021 </h3>
                 <h5 class="footerText footerPara">
                Shoot me an email at: 
                <br>
                piyushjaiswalofficial001@gmail.com
                <a href="https://www.google.com" target="_blank"><button class="btn-primary btn-lg custom">Take a look at my portfolio</button></a>
            </h5>
            
            
            <a href="https://www.instagram.com/_piyush.jaiswal/" target="_blank"><img src="images/ig.png" class="socialicons"></a>
            <a href="https://www.linkedin.com/in/piyush-jaiswal-156405203/" target="_blank"><img src="images/li.png" class="socialicons"></a>
            <a href="https://www.youtube.com/channel/UCxWTY6UOc_3cDLpEb0xqvpg" target="_blank"><img src="images/yt.png" class="socialicons"></a>
            <a href="https://twitter.com/PiyushJ17317768" target="_blank"><img src="images/tw.png" class="socialicons"></a>

        </div>
    </footer>



</body>
</html>