html, body{
    height: 100%;
}

.websiteHeadingPart1, .websiteHeadingPart2{
    color: rgb(9, 70, 160);
    font-family: 'Style Script', cursive;
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    left: 3rem;
    margin: 0;
}

.customNews{
    color: white;
}

.websiteHeadingPart2{
    position: absolute;
    left: 10rem;
}
.divider{
    margin-top: 5rem;
}

.navigationBar{
    position: absolute;
    right: 3rem;
    top: 3rem;
}

.navLink{
    padding-right: 1.5rem;
    color: grey;
    font-size: 1.2rem;
    font-family: 'Georama', sans-serif;
    text-decoration: none;
}

.navLink:hover{
    color: rgb(9, 70, 160);
}

.landingillustration{
    width: 50rem;
    height: 25rem;
    position: relative;
    right: -34rem;
    bottom: 11rem;
}

.mainHeading{
    margin: 0;
    line-height: 1rem;
    font-size: 2rem;
    position: relative;
    left: 7rem;
    top: 7rem;
    width: 30rem;
}

.introduction{
 line-height: 1.9rem;
}

.color{
    color: rgb(5, 41, 94); 
}

.theme{
    font-size: 1.5rem;
    color: grey;
    line-height: 1.2rem;
    width: 90%;
}

.landingSection{
    margin-bottom: 0;
    padding-bottom: 0;
    height: 90%;
}

.line{
    line-height: 3.3rem; 
    font-size: 4rem;
}

.blogSection, .bookSection, .podcastSection, .newsletterSection, .aboutSection{
    margin-top: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

.blogImage{
    width: 30rem;
    height: 25rem;
    position: relative;
    left: 3rem;
}

.podcastImage{
    width: 40rem;
    height: 25rem;
    position: relative;
    left: 0rem;
}

.bookImage{
    width: 28rem;
    height: 23rem;
    position: relative;
    right: 6rem;
    top: 4rem;
    float: right;
}

.blogTitle, .bookTitle, .podcastTitle, .newsletterTitle, .aboutTitle{
    text-align: center;
    margin-top: 0;
    font-family: 'Style Script', cursive;
    font-size: 4rem;
    color: rgb(9, 70, 160);
}

.footer{
    background-color: rgb(4, 26, 59);
    width: 100%;
    height: 30%;
    margin: 0;
    padding: 0;
}

.socialicons{
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    position: relative;
    top: -4rem;
}

.socialLinks{
    position: relative;
    top: 0.5rem;
    margin-left: 65rem;
    height: 10%;
}

.footerText{
    color: white;
    font-family: 'Georama', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    width: 150%;
    position: relative;
    left: -70rem;
    top: 3rem;
    margin-left: 0rem;
}

.footerPara{
    font-size: 1rem;
    color: teal;
    position: relative;
    left: -70rem;
    top: 3rem;
}

.newsletterSignUp{
width: 30%;
text-align: center;
position: relative;
top: 1rem;
left: 15rem;
border-radius: 5rem;
border-color: red;
border-width: 2rem;
float: left;
}

.newsletterInfo{
    width: 40%;
    float: left;
    position: relative;
    left: 10rem;
    top: 1rem;
}

.tagLine{
    font-style: italic;
    font-size: larger;
    color: white;
  }

.newsletterSection{
      padding: 0;
      padding-top: 2rem;
      margin-bottom: 2rem;
      background-color: #4ca1af;
      height: 70%;

  }

.aboutBackground{
    margin-top: 0;
    padding-top: 0;
    width: 40rem;
    height: 40rem;
    position: relative;
    bottom: 3rem;
    left: 10rem;
    float: left;
}

.aboutmeInfo{
    background-color: #a6e0e9;
    width: 40%;
    height: 60%;
    padding: 0;
    margin: 0;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    top: 3rem;
    left: 9rem;
    float: left;

}

.infoText{
    margin: 2rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: rgb(9, 70, 160);
    text-align: center;
}

.custom{
    position: relative;
    left: 22rem;
    bottom: 13rem;
}


.podcastIntro{
    color: black;
    font-family: 'Georama', sans-serif;
    font-size: 1.5rem;
    width: 40%;
    float: left;
    position: relative;
    top: 4rem;

}

.podcastImage, .blogImage{
    float: left;
}

.podcastEpisode{
    background-color: white;
    width: 70%;
    height: 10%;
    position: relative;
    left: 4rem;
    top: 1.5rem;
    padding: 0;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.articleTitle{
    font-weight: bold;
    color: rgb(9, 70, 160);
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    position: relative;
    bottom: 1rem;
}

.blogEpisode1, .blogEpisode2, .blogEpisode3, .bookNotes1, .bookNotes2, .bookNotes3, .bookNotes4, .bookNotes5, .bookNotes6{
    background-color: white;
    width: 25%;
    position: relative;
    left: 0rem;
    top: 1.5rem;
    padding: 0;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
}

.bookNotes1, .bookNotes2, .bookNotes3, .bookNotes5, .bookNotes6{
    height: 100%;
}

.blogEpisode2, .bookNotes2, .bookNotes5{
    position: relative;
    left: 3.5rem;
}

.bookNotes5{
position: relative;
left: 5.5rem;
}

.bookNotes4{
    position: relative;
    left: -7rem;
    top: 14rem;
}


.blogEpisode3, .bookNotes3, .bookNotes6{
    position: relative;
    left: 7rem;
}

.bookNotes5, .bookNotes6{
    position: relative;
    top: 5rem;
}

.articleLink{
    text-decoration: none;
}

.customBlog{
position: relative;
right: 52rem;
top: 26rem;
}

.podcastepisodeImage, .blogepisodeIcon{
    width: 8rem;
    height: 8rem;
    border-radius: 1rem 0 0 1rem;
    
}

.bookCover{
    margin-top: 0.5rem;
    width: 5rem;
    height: 8rem; 
    text-align: center;
    position: relative;
    left: 1.7rem;
    margin-bottom: 0.5rem;
}

.episodeTitle{
    float: right;
    position: relative;
    bottom: -2rem;
    left: -1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.episodeClick{
    float: right;
    text-decoration: none;
    position: relative;
    bottom: 4rem;
    left: -3.5rem;
}

.customPodcast{
    position: relative;
    top: -1rem;
    left: 12rem;
}

.podcastTitle{
    position: relative;
    top: 2rem;
}

.blogTitle{
    position: relative;
    top: 1rem;
}

.bookTitle{
    position: relative;
    top: 1rem;
}

.blogIntro{
    color: black;
    font-family: 'Georama', sans-serif;
    font-size: 1.5rem;
    width: 40%;
    float: left;
    position: relative;
    top: 2rem;
    left: 10rem;
}

.customBookNotes{
    position: relative;
    top: 28rem;
    left: 24rem;
}






/* Styling of blog page */
.blogLandingpage{
    width: 60%;
    height: 60%;
    position: relative;
    top: 7rem;
    left: 17rem;
}

.blogLandingImage{
    text-align: center;
    height: 15em;
    width: 15rem;
    position: relative;
    margin: 0;

}

.blogpageEpisode1, .blogpageEpisode2, .blogpageEpisode3{
    position: relative;
    bottom: 10rem;
}

.blogContent{
    width: 70%;
    padding: 2rem;
position: relative;
top: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}

.customBlogTitle{
    font-size: 2rem;
    text-align: center;
    position: relative;
    bottom: 8rem;
}

.newsletterLandingpage{
    width: 60%;
}

.customNewsletterTitle{
   font-size: 5rem;
}

.customInfo{
    font-size: 2rem;
}

.blogContentTitle, .blogContentPara{
    font-family: 'Roboto', sans-serif;
}

.blogContentTitle{
    font-weight: 400;
    color: rgb(9, 70, 160);
}

.blogContentWeight{
    font-weight: 300;
}

.blogFooterClass{
    margin-top: 5rem;
}

.blogFooterText, .blogFooterPara{
    width: 50%;
    position: relative;
    left: 3rem;
}

.blogBG{
    margin: 0;
    padding: 0;
    width: 21rem;
    height: 20rem;
    position: relative;
    bottom: 8rem;
    left: 14rem;
    float: none;
}

/* Styles for compose page */

.composeFooterClass{
    position: relative;
    top: 19rem;;
}

.notesIntro{
    float: right;
    text-align: center;
    padding-right: 1rem;
    position: relative;
    top: 2rem;
}

.Notes{
    margin: 3rem;
    position: relative;
    flex: 1 0 20%; 
}

.notesFlex{
    margin: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.alignTitle{
    text-align: center;
}


.blogDiv{
    width: 70%;
    background-color: rgb(241, 242, 243);
   padding: 2rem;
   /* margin-left: 3rem;
   margin-top: 3rem; */
   margin: auto;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 1.2rem;
}

.custom-blog-title{
    color:rgb(9, 70, 160);
    font-family: 'Lato', sans-serif;
}

.custom-blog-content{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
}

.custom-article-image{
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}