@media only screen and (max-width:425px){
html, body{
    width: 100%;
}

.overflow{
    overflow: hidden;
}

.websiteHeadingPart1{
 display: none;
}

.titleImage{
    width: 15%;
    position: relative;
    top: 2vw;
    left: 2vw;
}

.navLink, .articleLink{
    padding-right: 0.5vw;
    color: grey;
    font-size: 5vw;
    font-family: 'Georama', sans-serif;
    text-decoration: none;
}

.navLink:hover, .articleLink:hover {
    color: rgb(9, 70, 160);
}

.dropdown {  
    display: inline;  
    position: relative;
    top: 2vw;
    left: 70vw;
}  

.navigationBar {  
    position: absolute;  
    background-color: lightgrey;  
    min-width: 10%;
    text-align: right;  
    display: none;  
    z-index: 1;  
}  
.navigationBar a {  
    color: black;  
    padding: 12px 16px;  
    text-decoration: none;  
    display: block;  
}  
.navigationBar a:hover {  
    background-color: rgb(130, 178, 223);  
}  
.dropdown:hover .navigationBar {  
    display: block;  
}  
.dropdown:hover .dropbtn {  
    background-color: grey;  
} 

.menuClass{
    width: 10%;
}

.landingSection, .blogSection{
    margin: auto;
    width: 100%;
}

.mainHeading{
    width: 100%;
    position: relative;
    top: 5vw;
    padding-left: 10vw;
}


.introduction{
    position: relative;
    bottom: 3vw;
    line-height: 6vw;
    font-size: 7vw;
    font-weight: 500;
   }
   
   .color{
       color: rgb(5, 41, 94); 
   }
   
   .theme{
       font-size: 6vw;
       color: grey;
       line-height: 5vw;
       width: 90%;
       position: relative;
       bottom: 4vw;
   }
   
   .line{
       line-height: 9vw; 
       font-size: 13vw;
   }

   .landingillustration{
       width: 95%;
       height: auto;
   }

   .blogTitle, .bookTitle, .aboutTitle{
    text-align: center;
    margin-top: 5vw;
    font-family: 'Style Script', cursive;
    font-size: 14vw;
    color: rgb(9, 70, 160);
   }

   .desc{
    color: black;
    font-family: 'Georama', sans-serif;
    font-size: 6vw;
    width: 100%;
    text-align: left;
    position: relative;
    padding-left: 10vw;
    bottom: 280vw;
   }

   .blogEpisode1, .blogEpisode2, .blogEpisode3{
    background-color: white;
    width: 40%;
    margin-left: 7vw;
    position: relative;
    bottom: 280vw;
    padding: 0;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 3vw;   
    float: left;
}

   .blogepisodeIcon{
       width: 100%;
   }

   .articleTitle{
    text-align: center;
    font-size: 4vw;
   }

   .intro{
       float: left;
    position: relative;
    top: 280vw;
    width: 100%;
   }

   .bookintro{
    float: left;
 position: relative;
 width: 100%;
}

   .blogImage, .bookImage{
   position: relative;
   top: 0vw;
   width: 95%;
   }

   .customBlog, .customBookNotes{
       width: 70%;
       margin: auto;
       position: relative;
       left: 15vw;
   }

.bookSection{
    width: 100%;
}

.bookdesc{
    color: black;
    font-family: 'Georama', sans-serif;
    font-size: 6vw;
    width: 100%;
    text-align: left;
    position: relative;
    padding-left: 10vw;
   }

.bookNotes1, .bookNotes2, .bookNotes3, .bookNotes4, .bookNotes5{
    background-color: white;
    width: 40%;
    position: relative;
    margin-left: 7vw;
    padding: 0;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 3vw;   
    float: left;
}

.bookNotes5{
    display: none;
}

.bookCover{
    width: 100%;
}

.bookImage{
    position: relative;
    top: 7vw;
    left: 2vw;
    margin-bottom: 5vw;
}

.newsletterSection{
    width: 100%;
    height: auto;
}

.formNews{
    overflow: scroll;
    width: 100%;
    
}

.aboutSection{
    width: 100%;
}

.aboutmeInfo{
    margin: auto;
    color: rgb(48, 47, 47);
    font-family: 'Georama', sans-serif;
    font-size: 6vw;
    width: 90%;
    text-align: center;
   }

.footer{
    overflow: hidden;
    background-color: rgb(4, 4, 46);
   }

.footerText{
    margin: 5vw;
    color: rgb(111, 178, 236);
    text-align: center;
}

.email{
    font-size: 5vw;
    color: rgb(78, 82, 85);
    text-align: center;
    position: relative;
    bottom: 5vw;
}

.socialicons{
    width: 7%;
    padding: 1vw;
    position: relative;
    bottom: 5vw;
    left: 33vw;
}

.blogpageIntro, .notespageIntro{
    color: rgb(144, 145, 148);
    text-align: center;
    padding: 2vw;
    font-size: 6vw;
    font-family: 'Georama', sans-serif;
}

.blogContent, .Notes{
    width: 70%;
    padding: 2rem;
position: relative;
top: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}

.blogContentTitle, .blogContentPara{
    font-family: 'Roboto', sans-serif;
}

.blogContentTitle{
    font-weight: 400;
    color: rgb(9, 70, 160);
    text-align: center;
}

.notesCover{
display: none;
}

.notesFlex{
    display: flex;
    flex-wrap: wrap;
}

.notesIntro{
    text-align: center;
}

.alignTitle{
    text-align: center;
}


.blogDiv{
    width: 100%;
    height: 100%;
    background-color: rgb(236, 241, 247);
   padding: 2rem;
   margin-top: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 1.2rem;
}

.titleUnderline{
    display: none;
    width: 10%;
    border-top: 0.3rem solid;
    color: rgb(0, 0, 0);
    align-items: center;
}

.custom-blog-title{
    color:rgb(19, 19, 19);
    font-family: 'Lato', sans-serif;
    margin: auto;
    width: auto;
}

.custom-blog-content{
    font-family: 'Raleway', sans-serif;
    font-size: 6rem;
    text-align: justify;
}

.custom-article-image{
    width: 50%;
    display: block;
    margin: auto;
    position: relative;

}

.articleContent{
    padding: 2vw;
    color: rgb(29, 28, 28);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 5vw;
}

.articleContentHeading{
    color: rgb(29, 28, 28);
    font-family: 'Be Vietnam Pro', sans-serif;
}

.extLink{
    color: rgb(9, 70, 160);
    text-decoration: none;
}

} 