<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/icon.png" type="image/icon type">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Adding Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Georama&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<!-- Adding Stylesheet -->
    <link rel="stylesheet" href="/css/homeStyles.css">

<!-- Importing Bootstrap -->
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <title>Piyush Jaiswal</title>
</head>
<body>
    <header>
        <img src="/images/icon.png" class="titleImage">
        <h1 class="websiteHeadingPart1"> Piyush Jaiswal </h1>
        


         <div class="dropdown">
            <a class="dropbtn"><img src="images/menu.png.png" class="menuClass"></a>
        <div class="navigationBar">
         <a href="/" class="navLink"> Home </a>
         <a href="/blog" class="navLink"> Articles </a>
         <a href="/bookNotes" class="navLink"> BookNotes </a>
         <a href="/newsletter" class="navLink"> Newsletter </a>
         <a href="/about" class="navLink"> AboutMe </a>

        </div>
    </div>

        <hr class="divider">

    </header>


    <div class="blogDiv">
        <img src="/images/web.png" class="custom-article-image"></img>
        <br>
        <h1 class="alignTitle custom-blog-title"><%=title%> <br> SORRY! Content upload in process:-(</h1>
        <hr class="titleUnderline">
    </div>

   




    <footer class="footer" id="foot">
        <h3 class="footerText">Piyush Jaiswal &#169; 2021 </h3>
        <h5 class="footerText">
       Shoot me an email at:</h5>
       <h5 class="email">piyushjaiswalofficial001@gmail.com </h5>           

        <div class="socialLinks"> 
            <a href="https://www.instagram.com/_piyush.jaiswal/" target="_blank"><img src="images/ig.png" class="socialicons"></a>
            <a href="https://www.linkedin.com/in/piyush-jaiswal-156405203/" target="_blank"><img src="images/li.png" class="socialicons"></a>
            <a href="https://www.youtube.com/channel/UCxWTY6UOc_3cDLpEb0xqvpg" target="_blank"><img src="images/yt.png" class="socialicons"></a>
            <a href="https://twitter.com/PiyushJ17317768" target="_blank"><img src="images/tw.png" class="socialicons"></a>

        </div>
    </footer>

</body>
</html>   